*
{
    background-color: antiquewhite;
}
.get
{
    padding: 40px;
    text-align: center;
}
.id1
{
    padding: 20px;
    border: 3px solid black;
 text-align: center;
}
.name
{
    text-align: center;
    padding: 30px;
    border: 2px solid black;
}
h2
{
    text-align: center;
}
.age
{
    text-align: center;
    padding: 50px;
    border: 2px solid black;
}
.university
{
    text-align: center;
    padding: 40px;
    border: 2px solid black;
}
.phone
{
    text-align: center;
    padding: 30px;
    border: 2px solid black;
}
.submit
{
    text-align: center;
    padding: 30px;
    border: 2px solid black;
}
button
{
    cursor: pointer;
    font-size: 20px;
}